<!doctype html>

<html>
    <head>
        <meta charset="utf8">

        <title>Agenter</title>

        <link href="css/style01.css" rel="stylesheet">
        <link href="css/agent.css" rel="stylesheet">
        <link href="css/message.css" rel="stylesheet">
    </head>

    <body>
        <div class="message">
            <img class="box" src="media/message.png">
            <div class="text">aaaaaa</div>
        </div>

        <div class="agent">
            <img src="media/agent.png">
        </div>
        
        <script src="js/script01.js"></script>
        <script src="js/modules/timeSignal.js"></script> 
    </body>
</html>