.message {
    opacity: 1;
}

.message .box {
    z-index: 0;
}

.message .text {
    width: 265px;
    height: 170px;

    position: relative;
    bottom: 247px;
    left: 15px; 

    z-index: 1;
}